<div class="span6 offset1">
		        <section id="file-structure">
					<h1>El "background" de NuFolka Complementos...</h1>
					<p class="lead">Siempre he tratado de ser yo misma de hacer y amar lo que hago y lo que doy, eso me ha llevado a no frenar mi creatividad y en gran medida a ser original y autentica.
Estudie diseño textil por la versatilidad que tienen estos materiales y por la cultura, historia y significado que hay detrás de estos. 
En algún momento de mi vida sentí el impulso de dejar huella y decidí formar NuFolka (que significa dentro de mi entendimiento y con intención de que lo sea para los demás) Nuevo Folklor un juego de palabras y pronunciaciones. Son complementos (accesorios) diseñados y hechos siempre con significado, con una intención y utilidad para mi y para quien los use.
Creo que ya todo esta inventado, está sobre la mesa simplemente para que uno tome y entonces transformas y vuelves a crear algo "nuevo" que en realidad es eso que estaba pero con una nueva perspectiva y con elementos que lo enriquecen o lo adaptan a un estilo.
Me encanta transformar, crear, diseñar y también disfruto y me alimento de ver que esto que amo transciende.<br/><br/>

Saludos! <a href="">KaiRamirez</a></p>
			</section>
				</div>
				<div class="span4">
					<img style="margin-top:20%" src="assets/img/nufolka/bio.jpg"/>
				</div>

