<footer>
	<div class="footer">
		 <p style="text-align:center"><pre style="color:red">Designed by <a  href="http://twitter.com/#!/JulioAhuactzin">@JulioAhuactzin</a>. Powered by <a href="http://twitter.com/#!/monkeymachin">@monkeymachin</a> </pre></p>
  	</div>
</footer>