<header class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
    <div class="container">
      <%= link_to "NuFolka Complementos", products_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
		  <li><%= link_to "Bio", "#"%></li>
          <li><%= link_to "Inicio", products_path%></li>
        </ul>
      </nav>
    </div>
  </div>


</header>

          